h1,
h2,
.modal-title,
.loading-screen-button {
  font-family: "Urbanist", sans-serif;
  font-weight: 900;
}

p,
ul,
li,
.modal-paragraph-text,
.list-text {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

.modal-paragraph-header,
.modal-paragraph-header-2,
.instructions {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}

.no-sound-button {
  font-family: "ProFontWindows", monospace;
  font-weight: 700;
}